:root {
  --white: #fff;
  --light: #f8f9fa;
  --black: #000;
  --dark: #1f1f2b;

  --primary: #007bff;
  --gray: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --orange: #ff8c42;

  --all: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

ul {
  list-style: none;
}
