@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "./base.css";

.todo {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--surface);
  margin: 0 auto;
  padding: 1rem;
}

/* ---- FORM ---- */
.todo-form {
  display: flex;
  gap: 10px;
}

.todo-form__input,
.todo-form__button {
  font-size: 1rem;
  color: var(--dark);
  background-color: var(--surface);
  border-radius: 5px;
  border: 2px solid var(--border);
  outline: none;
  padding-block: 10px;
  padding-inline: 15px;
  transition: var(--all);
}

.todo-form__input:focus,
.todo-form__button:focus {
  border-color: var(--blue);
}

.todo-form__input {
  flex: 1;
}

.todo-form__input::placeholder {
  color: var(--grey-icon);
}

.todo-form__input-error {
  border-color: var(--red);
}

.todo-form__button {
  cursor: pointer;
}

.todo-form__button:hover {
  background-color: var(--border);
}

/* ---- LIST ---- */
.todo-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.todo-list__item {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background-color: var(--surface);
  box-shadow: 1px 1px 3px 1px var(--border);
  padding: 16px;
}

.todo-list__item-description {
  flex: 1;
}

.todo-list__item.completed .todo-list__item-description {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-list__item-checkbox {
  width: 16px;
  height: 16px;
}

.todo-list__item-remove {
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 5px;
  transition: var(--all);
}

.todo-list__item-remove:hover {
  border-color: var(--red);
  background-color: var(--border);
}

.todo-list__item-remove:focus {
  border-color: var(--blue);
}

/* ---- MEDIA ---- */
/* ---- 768px ---- */
@media (min-width: 768px) {
  .todo-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
/* ---- 1440px ---- */
@media (min-width: 1440px) {
}
