@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "./base.css";

.todo {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--surface);
  margin: 0 auto;
  padding: 1rem;
}

.todo-add-btn {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--surface);
  background-color: var(--text-primary);
  font-size: 36px;
  font-weight: 300;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.todo-add-btn:focus {
  outline: none;
  box-shadow: 0 0 10px var(--blue), 0 0 20px var(--blue);
}

/* ---- STATISTICS ---- */
.todo-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.todo-stats__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-stats__header-title {
  font-size: 28px;
  text-transform: capitalize;
}

.todo-stats__header-clear {
  font-size: 16px;
  text-transform: capitalize;
  background-color: transparent;
  border: 2px solid var(--border);
  box-shadow: 0 10px 20px var(--border);
  border-radius: 10px;
  outline: none;
  padding: 10px 10px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
}

.todo-stats__header-clear:hover {
  background-color: var(--border);
}

.todo-stats__header-clear:focus {
  border-color: var(--blue);
}

.todo-stats__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.todo-stats__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border-radius: 10px;
  border: 2px solid var(--border);
  box-shadow: 0 10px 20px var(--border);
  padding: 15px;
}

/* ---- FORM ---- */
.todo-form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px) saturate(120%);
  transition: opacity 0.25s ease;
  z-index: 10;
}

.todo-form-overlay--hidden {
  opacity: 0;
  pointer-events: none;
}

.todo-form {
  width: min(95%, 420px);
  display: flex;
  gap: 10px;
  padding: 10px;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 10px 30px var(--border);
  border: 1px solid var(--border);
  border-radius: 10px;
}

.todo-form__input,
.todo-form__button {
  font-size: 1rem;
  color: var(--dark);
  background-color: var(--surface);
  border-radius: 5px;
  border: 2px solid var(--border);
  outline: none;
  padding-block: 10px;
  padding-inline: 15px;
  transition: var(--all);
}

.todo-form__input:focus,
.todo-form__button:focus {
  border-color: var(--blue);
}

.todo-form__input {
  flex: 1;
}

.todo-form__input::placeholder {
  color: var(--grey-icon);
}

.todo-form__input-error {
  border-color: var(--red);
}

.todo-form__button {
  cursor: pointer;
}

.todo-form__button:hover {
  background-color: var(--border);
}

/* ---- LIST ---- */
.todo-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.todo-list__item {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background-color: var(--surface);
  box-shadow: 1px 1px 3px 1px var(--border);
  padding: 16px;
}

.todo-list__item-description {
  flex: 1;
}

.todo-list__item.completed .todo-list__item-description {
  opacity: 0.5;
  text-decoration: line-through;
}

.todo-list__item-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.todo-list__item-remove {
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 5px;
  transition: var(--all);
}

.todo-list__item-remove:hover {
  border-color: var(--red);
  background-color: var(--border);
}

.todo-list__item-remove:focus {
  border-color: var(--blue);
}

/* ---- INFO ---- */
.todo-info {
  font-size: 20px;
  text-align: center;
}

/* ---- MEDIA ---- */
/* ---- 768px ---- */
@media (min-width: 768px) {
  .todo-stats__header-title {
    font-size: 36px;
  }

  .todo-form {
    width: 90%;
    padding: 20px;
  }

  .todo-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .todo-info {
    font-size: 24px;
  }
}
