@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "./base.css";

.todo {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--white);
  margin: 0 auto;
  padding: 1rem;
}

/* ---- FORM ---- */
.todo-form {
  display: flex;
  gap: 10px;
}

.todo-form__input,
.todo-form__button {
  font-size: 1rem;
  color: var(--dark);
  background-color: var(--light);
  border-radius: 5px;
  border: 2px solid var(--light);
  outline: none;
  padding-block: 10px;
  padding-inline: 15px;
  transition: var(--all);
}

.todo-form__input:focus,
.todo-form__button:focus {
  border-color: var(--primary);
}

.todo-form__input {
  flex: 1;
}

.todo-form__input::placeholder {
  color: rgba(31, 31, 43, 0.3);
}

.todo-form__input-error {
  border-color: var(--danger);
}

.todo-form__button {
  cursor: pointer;
}

.todo-form__button:hover {
  background-color: var(--gray);
}

/* ---- LIST ---- */
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.todo-list__item {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid var(--gray);
  background-color: var(--light);
  padding: 16px;
}

.todo-list__item-description {
  flex: 1;
}

.todo-list__item-remove {
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  border: 2px solid var(--light);
  cursor: pointer;
  padding: 5px;
  transition: var(--all);
}

.todo-list__item-remove:hover {
  background-color: var(--danger);
}

.todo-list__item-remove:focus {
  border-color: var(--primary);
}

/* ---- MEDIA ---- */
/* ---- 1440px ---- */
@media (min-width: 1440px) {
}
